page-registrate {
    .letraLink{
        color: $letraLink;
        font-size: 12px;
    }
    .itemLink{
        text-align: center;
    }
    .letraTexto{
        font-size: 12px;    
    }
    .letratitulo{
        font-size: 14px;    
        text-align: center;
    }
    
}
